* {
  margin: auto;
  padding: 0%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  min-width: 20px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: rgb(48, 62, 143);
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #1d49aa;
}

#root {
  width: 90%;
}

nav {
  display: flex;
}

.logoBlock {
  display: flex;
  width: 10%;
  margin: 5px;
  justify-content: flex-start;
}

.logoBlock>img {
  width: 150px;
  height: 75px;
}

h1 {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
}

p {
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 15px;
}